@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* body {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    background-color: whitesmoke;
    font-family: 'Poppins', sans-serif;
}

.forma {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

:root {
    --color-primary: #00ffff;
    --color-gris: #ffffff;
    --color-bech: #000000;
    --color-rojo: #ff0000;
    --color-light: rgba(132, 139, 200, 0.18);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

/* section menu */

.nombre {
    color: var(--color-rojo);
}

.herramienta {
    background-color: var(--color-gris);
    flex-direction: column;
    width: 90%;
    height: 85%;
    display: flex;
    color: var(--color-bech);
    border-radius: 20px;
    margin: 20px;
    box-shadow: var(--box-shadow);
    justify-content: space-between;
    margin-right: 20px;
}

.lista {
    align-content: center;
}

.herramienta h3 {
    margin: 20px;
    color: var(--color-rojo);
}

.lista li {
    list-style: none;
    font-size: 15px;
}

.lista ul {
    padding-top: 20px;
}

.lista ul a {
    text-decoration: none;
    color: var(--color-bech);
}

.salir ul {
    padding-top: 12rem;

}

.salir ul a {
    text-decoration: none;
    color: var(--color-bech);
}

.salir li {
    list-style: none;
}

/* section logo*/
.logo {
    margin: 5px;
    margin-left: 20px;
    border-radius: 20px;
    height: 10%;
    justify-content: center;
    display: flex;
    flex-direction: row;

}

.logo img {
    width: 40px;
    height: 40px;
    padding: 10px;
}

/*section contenido*/

.contenido {
    margin: 5;
    padding: 10px;
    width: 680px;
    margin-left: 2rem;
}

.contec {
    width: 820px;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 30px;
   
}

.contec2 {
    width: 820px;
    height: 45%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 30px;
    margin-top: 25px;
    
}


.informacion {
    border-radius: 40px;
    background-color: var(--color-gris);
    width: 60%;
    height: 250px;
    padding: 20px;
    margin: 5px;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;

}

.informacion1 {
    
    border-radius: 40px;
    background-color: var(--color-gris);
    width: 60%;
    height: 250px;
    padding: 20px;
    margin: 5px;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    
}
.boton{
    display: flex;
    justify-content: center;
    align-items: center;    
}
.boton button{
    width: 50%;
    height: 30px;
    color: var(--color-bech);
    background-color: whitesmoke;
    border:  1px solid var(--color-bech);  
}


/*section introduccion*/
.resumen {
    width: 820px;
    height: 30%;
    display: flex;
    flex-direction: column;
}

.general {
    padding: 20px;
    align-items: center;
    font-size: 20px;
    border-radius: 20px;
    background-color: var(--color-gris);
    box-shadow: var(--box-shadow);
}

/* ultima parte contenido*/

.usuario {
    width: 220px;
    align-items: center;
    text-align: center;
    border-radius: 20px;


}

.usuario li {
    list-style: none;

}

.usuario ul a {
    text-decoration: none;
    font-size: 20px;
    color: var(--color-bech);
}


.logof {
    flex-direction: column;
    width: 160px;
    height: 280px;
    background-color: var(--color-gris);
    display: flex;
    padding: 30px;
    border-radius: 20px;
    align-items: center;
    box-shadow: var(--box-shadow);
    margin-right: 5px;

}

.logof img {
    width: 180px;
    height: 180px;
}

.logof h3 {
    font-size: 15px;
}

/*efectos hover*/

.list :hover {
    color: var(--color-rojo);
    transform: translateY(-20%);
    transition: 0.3s all;
    
}

.informacion:hover {
    transform: translateY(-3%);
    transition: all 0.5s ease;
}


.informacion1:hover {
    transform: translateY(-3%);
    transition: all 0.5s ease;
}
.resumen:hover {
    transform: translateY(-3%);
    transition: all 0.3s ease;
}

/*section footer*/

footer{
    background-color: black;
    
}

.footercontainer{
    width: 100%;
}

.social{
    display: flex;
    justify-content: center;
}

.social a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.social a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

/* hover effects */

.social a:hover{
    background-color: #000000;
    transition: 0.5s;
}

.social a:hover i{
    color: red;
    transition: 0.5s;
}

.footernav{
    margin: 10px 0;
}

.footernav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footernav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footernav ul li a:hover{
    opacity: 1;
    color: #ff0000;
}

.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footerBottom p{
    color: white;
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media (max-width: 600px  ){
/*contenido*/

* body {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    background-color: whitesmoke;
    font-family: 'Poppins', sans-serif;
}
.forma{
    flex-direction: column;
    display: flex;
}

/*menu*/

:root {
    --color-primary: #00ffff;
    --color-gris: #ffffff;
    --color-bech: #000000;
    --color-rojo: #ff0000;
    --color-light: rgba(132, 139, 200, 0.18);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

.herramienta {
background-color: var(--color-gris);
flex-direction: column;
width: 50%;
height: 85%;
display: flex;
color: var(--color-bech);
border-radius: 20px;
margin: 20px;
box-shadow: var(--box-shadow);
justify-content: space-between;
margin-right: 20px;

}

.contec{
    flex-direction: column;
    width: 580px;
    margin: 5px;
}
.contec2{
    flex-direction: column;
    width: 580px;
    margin: 5px;
}


    /*section footer*/
    .footernav ul{
        flex-direction: column;
    }
    .footernav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
        margin-right: 20px;

    }
    footer{
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
    }
     
    .footercontainer{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        flex-direction: column;
    }

    .boton{
        display: flex;
        justify-content: center;
        align-items: center;    
    }
    .boton button{
        width: 50%;
        height: 30px;
        color: var(--color-bech);
        background-color: whitesmoke;
        border:  1px solid var(--color-bech);  
    }

    .contec{
        display: flex;
    }
    .contec2{
        
    }
    




 
}

@media(min-width: 1400px){
    .herramienta {
        background-color: var(--color-gris);
        flex-direction: column;
        width: 100%;
        height: 85%;
        display: flex;
        color: var(--color-bech);
        border-radius: 20px;
        margin: 20px;
        box-shadow: var(--box-shadow);
        justify-content: space-between;
        margin-right: 0px;
    }
    .footercontainer{
        width: 100%;
        height: 320px;
    }
    .social{
        display: flex;
        justify-content: center;
        padding-top: 30px;
    }
    .forma{
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
        display: flex;
    }
    .herramienta{
        margin-right: 40px;
        width:100%;
    }
    .contec{
        width: 85%;
        height: 40%;
        margin-left: 85px;
    }
    .contec2{
        width: 85%;
        height: 50%;
        margin-left: 85px;
        margin-bottom: 200px;
    }
    .contec .informacion{
        height: 70%;
    }
    .resumen{
        width: 75%;
        height: 50%;
        margin-left: 10%;
        margin-bottom: 170px;
    }
    .final{
        margin-right: 25px;
        margin-left: -70px;
    }
    .final .logof{
        display: flex;
        width: 80%;
        height: 40%;
        justify-content: center;
    }
    .herramienta h3{
        margin-left: 20%;
    }
    .contenido h1{
        margin-left: 120px;
    }
    
}  

